*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
h1, h2{
    font-family:'Courier New', Courier, monospace, sans-serif;
}

.cv{
    display: flex;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: auto;
    justify-content: space-between;
    position: relative;
    background-color: rgb(13, 52, 13);
}
hr{
    width: 300px;
    position: relative;
    left: 34px;
    
}
.photo-name{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.photo img{
    width: 45%;
    height: 650px;
    position: absolute;
    left: 45px;
    top: -23px;
    box-shadow: 10px 10px 10px 5px rgb(7, 29, 7);
}
.about-and-other{
    margin-left: 160px;
    padding: 20px 55px;
    width: 60%;
}
.toggle img{
    width: 50px;
}
.title h2{
    font-size: 50px;
}
.age{
    font-size: 13px;
    padding-top: -100px;
}
.description{
    font-size: 16px;
    margin: 25px 0;
}
.skills-title{
    margin-top: 20px;
}
.my-skills{
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.skill{
    padding: 5px 10px;
}
.skill-img{
    width: 150px;
    height: 100px;
    padding: 15px 0;
}
.info{
    width: 5%;
}
.contact-image img{
    width: 25px;
    position: relative;
    left: 8px;
    padding: 9px 2px;
}
.contact{
    margin-top: 250px;
}
.name{
    text-align: center;
    margin-top: 640px;
    margin-left: 110px;
    width: 100%;
}